body {
    font-family: sans-serif;
    padding: 20px;
    background: #fff8f0;
  }
  
  .alert {
    background: #ffe5e5;
    padding: 15px;
    margin-bottom: 20px;
    border-left: 6px solid red;
    border-radius: 5px;
  }
  
  button.ack {
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  .acknowledged {
    background-color: lightgreen;
    border: none;
  }
  